body {
	background-color: #222;
}
#container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 49px;
}
#container .card {
	max-width: 200px;
}
#container .card img {
	height: 200px;
	margin: -8px -8px 0px -8px;
	border-bottom: 1px solid #CCC;
}
#chart-card {
	margin: 8px;
	width: 200px;
	height: 335px;
}
#chart-card canvas {
	width: 100%;
	height: 100%;
}
footer {
	width: 100vw;
	position: fixed;
	bottom: 0;
}